.taskbar
{
    align-items: center;
    box-sizing: border-box;
    color: rgb(87, 88, 110);
    padding: 17px,15px;

    
}
.Main_content {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Add this line if you want to stack children vertically */
    text-align: center; /* This will align the text to the center for all child elements */
}

.footer
{
    position: static;
    
   
    width: 100%;
    text-align: center;
    color: #9d9b9d;
   background-color: white;
   
   
}

.footer-1 {
    background:#442d4d;
    color: white;
    border:0 px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 20px 40px 20px;

}

.footer-1 > div {
    flex: 0 0 calc(33.33% - 10px);
    margin: 5px;
    padding: 10px;
    padding-bottom: 10px;
  
}

.footer-1 p {
    font-weight: bold;
    margin-bottom: 10px;
}

    .footer-1 > div {
        flex: 0 0 100%;
    }
    
.footer-1 {
    background:#241e3b;
    color: white;
    text-align: center;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -11px;
}
.footer-1 li
{
    
    
}

.footer-1 a
{
    
    color: rgb(156, 158, 159);
    text-decoration: none;
    padding: 0px;
    
}


.footer-1 p {
    font-weight: bold;
    margin-bottom: 10px;
    
}

.LOGO
{
    width: 150px;
    height: 50px;
}
.get_in_touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(212, 212, 212);
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.hfe-nav-menu {
    list-style-type: none; /* Removes the default list bullet points */
    padding: 0; /* Removes the default padding */
    margin: 0; /* Removes the default margin */
    width: 100%; /* Optional: Adjust as needed for your layout */
}

.hfe-nav-menu li {
    padding: 11px 0; /* Adds some vertical spacing between list items */
    list-style-type: none;
}

/* Additional styling for nav element if necessary */
nav.hfe-nav-menu__layout-vertical.hfe-nav-menu__submenu-arrow {
    width: 100%; /* Optional: Adjust as needed for your layout */
}
.image {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    position: relative;
}

.badge {
    width: 160px; /* Adjust size as needed */
    height: 160px; /* Adjust size as needed */
    background-image: url('Twitter_Verified_Badge.svg.png'); /* Replace with the correct path */
    background-size: contain;
    background-repeat: no-repeat;
    animation: rotate 10s linear infinite;
}

.star {
    position: absolute;
    animation: twinkle 1s ease-in-out infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes twinkle {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
